# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.env
venv/
ENV/
env/
/*.py

# Node / Next.js
node_modules/
.next/
out/
build/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Media & Temp Frames
*.jpg
*.png
*.webm
*.mp4
temp_*
*.txt
*.json
!package.json
!tsconfig.json